html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Droid Sans', sans-serif;
	margin: 0;
}

a {
	color: #9f3127;
	text-decoration: none;
}
	a:hover {
		color: red;
	}

h1 {
	font-weight: normal;
	margin-top: .9em;
	margin-bottom: .6em;
	line-height: 1.4em;
}
h2 {
	font-weight: normal;
}
h3 {
	margin-top: .6em;
	margin-bottom: .6em;
	font-weight: normal;
}
h4 {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

p {
	line-height: 1.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}
hr {
	border: 0;
	border-top: 1px solid silver;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
	.push {
		height: 40px;
		clear: both;
	}

/*
 * HEADER
 */

.header {
	background: #da4336;
	overflow: hidden;
	color: white;
	text-align: right;
	padding: .3rem .5rem .3rem .5rem;
}
	.header .inside {
		width: 40rem;
		margin: auto;
	}

	.header h1,
	.header h2 {
		font-size: 1.3em;
		font-weight: normal;
		margin: 0;
		text-align: left;
		float: left;
	}
		.header h1 small {
			font-weight: lighter;
			font-size: .8rem;
			float: right;
			display: none;
		}
	.header a {
		color: white;
	}
	.header .user {
		line-height: 1.3em;
	}

/*
 * MAIN BLOCKS
 */

.main {
	margin: 1em auto 2em;
	width: 40rem;
}

.notification {
	padding: .5em;
	margin-bottom: 1em;
}
	.notification.error {
		color: red;
		border: 1px solid red;
	}
	.notification.success {
		color: green;
		border: 1px solid green;
	}

footer {
	text-align: center;
	background: #eee;
	color: gray;
	text-shadow: 1px 1px 0 white;
	font-style: italic;
	font-size: .9em;
	padding: 0;
	height: 40px;
	max-height: 40px;
	/*margin-top: 2em;*/
	line-height: 14px;
}
	footer p {
		margin: 0;
		line-height: 40px
	}

/* USER VOICE */
.two-choices {
	text-align: center;
}
	.two-choices a {
		display: inline-block;
		font-size: 1.2em;
		padding: 1em;
		border: 1px solid #9f3127;
		margin: 2%;
		width: 35%;
	}
		.two-choices a span {
			display: block;
			font-size: 1.2em;
		}

/*
 * BOOK
 */
.change-book {
	float: right;
	margin: .3rem 0;
	font-size: .9rem;
	font-weight: normal;
	line-height: 1.3em;
}
.page-book h1 {
	text-transform: uppercase;
	font-size: .8em;
	color: grey;
	margin-bottom: 0;
}
.book-warning {
	margin: 1em 0;
	padding: .8em 1.5em .2em;
	border: 1px solid silver;
	background: #eee;
	color: #444;
	font-size: .9em;
}
	.book-warning h3 {
		background: transparent url(img/warning.48.png) left center no-repeat;
		padding-left: 55px;
		line-height: 40px;
	}

.page-book h3 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1%;
}
	.page-book h2 small {
		font-size: .8em;
		display: inline-block;
	}

.song-index {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.song-index li {
		padding: .4em 0;
		border-bottom: 1px solid #eee;
		line-height: 1.6em;
	}

.book-rating {
	font-size: .9em;
	color: gray;
	font-style: italic;
	padding: 1em 0;
	text-align: center;
}

.teaser {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.8);
	display: table;
}
	.teaser .inside {
	    vertical-align: middle;
	    display: table-cell;
	}
	.teaser .inside .more-inside {
		width: 40rem;
		margin: 0 auto;
		border: 1px solid silver;
		padding: 1em;
		overflow: hidden;
		background: white;
	}
		.teaser .inside .more-inside p {
			display: inline-block;
			width: 16em;
		}
		.teaser .login-form {
			display: inline-block;
			vertical-align: top;
			margin: 1em 0 0 1em;
		}

/*
 * LOGIN
 */

.page-login .main { 
	margin: 0;
	width: auto;
}
	.page-login .inside {
		width: 40rem;
		margin: 0 auto;
	}

	.page-login .mkt {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		padding-top: 17%;
	}
		.page-login .mkt h2 {
			background: rgba(255,255,255,.8);
			color: black;
			text-shadow: 1px 1px 0 white;
			padding: .5em 1em;
			font-size: 1.5em;
			text-align: center;
		}
		.page-login .mkt h2 span {
			display: block;
		}

	.page-login .main > .inside {
		margin-top: 1%;
	}

	.page-login .mkt-text {
		display: inline-block;
		width: 18em;
		margin-right: 1em;
	}
	.page-login .login-form {
		display: inline-block;
		width: 18em;
		vertical-align: top;
		margin-top: 1em;
		margin-bottom: 2em;
	}

.login-form {
	/*border: 1px solid silver;*/
	background: #eee;
	padding: .5em 1em 1em;
	display: block;
	width: 20em;
	margin: 0 auto;
}
.lang-switch {
	text-align: center;
	font-size: .9em;
	margin-bottom: .5em;
}


/*
 * User settings
 */

.user-settings h3 {
	font-weight: normal;
	margin-top: 1.5em;
}

.user-settings .voice-selector .field {
	margin-right: 1em;
	margin-bottom: .4em;
	display: inline-block;
}
	.user-settings .wizard-button {
		background: #eee;
		padding: .5em;
		line-height: 1.5em;
	}
		.user-settings .wizard-button a {
			font-size: 1.1em;
		}

/*
 * TRANSPOSE SONG
 */

.transpose-song h4 {
	margin-bottom: 0;
	clear: both;
}
.transpose-song .your-voice {
	text-align: center;
	border-bottom: 1px solid silver;
	padding-bottom: .6em;
}
	.transpose-song .your-voice .small-button {
		margin-left: .5em;
	}

small.page_number {
	padding: .1em .2em;
	border: 1px solid silver;
}

.transpositions-list {
	overflow: hidden;
}
	.transpositions-list h4:first-child {
		margin-top: 0;
		overflow: hidden;
	}
.transposition {
	border-collapse: collapse;
	margin: 1em 2em 1em 0;
	float: left;
}
.transposition:first-child {
	margin-left: 0;
}
	.transposition th { 
		text-align: center; 
		font-weight: normal;
	}
		.transposition th strong {
			font-size: 1.1em;
		}
	.transposition th,
	.transposition td { 
		border: 1px solid silver; 
		padding: .3em .5em;
	}

	.transposition .score {
		font-size: .8rem;
		font-weight: bold;
		color: navy;
	}

	.transposition .capo {
		font-size: .95em;
		padding-left: .3em;
	}

	.transposition .chord {
		font-size: 1.1em;
	}

.chord {
	color: #e00;
	font-family: serif;
}
.chord-sans {
	color: #e00;
	font-family: sans-serif;
}
.chord-color {
	color: #e00;
}

.show-voice-chart {
	text-align: center;
	margin: 1em 0 1.5em;
	clear: both;
	overflow: hidden;
	line-height: 2em;
}
	.show-voice-chart a {
		background: #eee;
		color: #333;
		font-size: .9em;
		padding: .4em .7em;
		border: 1px solid white;
	}
		.show-voice-chart a:hover {
			background: grey;
			color: white;
		}

#voicechart-container {
	padding-bottom: 1em;
	border-top: 1px solid silver;
	padding-top: 1em;
	margin-top: 2em;
	display: none; /* Hidden by default */
	clear: both;
}

.voicechart {
	border-collapse: collapse;
}
	.voicechart th {
		font-size: .9em;
		font-weight: bold;
		padding: .3em .7em .3em .4em;
		text-align: right;
	}

	.voicechart tr {
		border-bottom: 3px solid white;
	}
	.voicechart td {
		width: 1.5em;
		font-size: .8em;
		text-align: center;
	}
	.voicechart tr td.note {
		color: white;
		font-size: .7em;
	}
	.voicechart .singer td {
		background: white;
		color: blue;
	}
	.voicechart .singer td.note {
		background: blue;
	}
	.voicechart .original-song td {
		color: #d40000;
		background: white;
	}
	.voicechart .original-song td.note {
		background: #d40000;
	}
	.voicechart .transposed-song td {
		color: green;
		background: white;
	}
	.voicechart .transposed-song td.note {
		background: green;
	}

.song-rating {
	margin-top: 1em;
	padding-top: .5em;
	font-style: italic;
	font-size: .9em;
	color: gray;
}

.transposition-feedback {
}
	.transposition-feedback p {
		margin: .5em 0;
	}
	.transposition-feedback .question,
	.transposition-feedback .answers {
		display: inline-block;
	}
	.transposition-feedback .answers button {
		padding: .3em .5em;
		background: white;
		margin-left: .4em;
	}
	
	.transposition-feedback .thanks {
		color: gray;
		font-style: italic;
		padding-left: .5em;
		display: none;
	}
	#reasons-no {
		margin: 0;
		padding: 0 0 0 1.3em;
		font-size: .9em;
		font-style: italic;
	}
	.transposition-feedback .social-buttons {
		float: right;
		text-align: right;
		width: 200px;
		margin-top: .6em;
	}
		.social-buttons .fb-like,
		.social-buttons .g-plusone {
			display: inline-block;
			vertical-align: top;
		}
		.social-buttons .fb-like {
			margin-right: .5em;
		}

/* Wizard */
.gender-selection {
	list-style: none;
	padding-left: 0;
}
	.gender-selection li {
		margin-top: .5em;
	}
	.gender-selection ul {
		padding-left: 1em;
		list-style: none;
	}

#sub-male,
#sub-female {
	display: none;
}
h2.step-1 {
	margin-top: 1em;
	border-top: 1px solid silver;
	padding-top: 1em;
}
.pre-song {
	font-family: monospace;
	background: rgb(253, 253, 248);
	box-shadow: 0 0 1em silver;
	padding: 1.3em;
	display: inline-block;
	color: #333;
	max-width: 18rem;
}
	.pre-song .capo {
		color: #e00;
	}
	.pre-song h5 {
		color: #e00;
		font-family: arial, sans-serif;
		text-transform: uppercase;
		text-align: center;
		margin-top: 0;
	}

.wizard-empiric .instructions {
	margin-bottom: 2em;
}

.wizard-empiric .answer {
	display: inline-block;
	vertical-align: top;
	margin-left: 3rem;
	max-width: 16rem;
}
	.wizard-empiric .answer h3 {
		margin-top: 0;
	}

	.wizard-empiric .answer p {
		line-height: 2em;
	}

	.wizard-empiric .test-msg {
		border: 1px solid silver;
		padding: 1em;
	}
		.wizard-empiric .test-msg h3 {
			text-align: center;
			margin-top: 0;
		}

/* Admin Users */
.admin-users .main {
	width: auto;
	margin: 1em;
	overflow-x: scroll;
}
.feedback-graph {
	width: 101px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
}
	.feedback-graph .yes,
	.feedback-graph .no {
		font-size: .8em;
		color: white;
		display: block;
		margin: 0;
		float: left;
		box-sizing: border-box;
		padding: 0 3px;
		line-height: 140%;
		text-shadow: 1px 1px 0 black;
	}
	.feedback-graph .yes {
		background: #41A341;
	}
	.feedback-graph .no {
		background: #9f3127;
		text-align: right;
	}
.floating_toc {
    position: fixed;
    top: 0;
    right: 0;
    font-size: .8em;
    line-height: 170%;
    background: white;
    /*z-index: -999;*/
    padding: .5em;
    opacity: .7;
    width: 300px;
    max-height: 100%;
}
    .floating_toc:hover {
        /*z-index: 999;*/
        opacity: 1;
    }
    .floating_toc ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

/* Forms */
.bigbutton {
	padding: .3em .6em;
	font-size: 1.3em;
}
.error {
	color: red;
}
.field.block {
	margin-top: .5em;	
}
	.field.block label {
		display: block;
		line-height: 1.6em;
	}

.field.full-width {
	display: block;
}
	.field.full-width input,
	.field.full-width button {
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
	}

input[type="text"] {
	padding: .2em;
	border: 1px solid silver;
	font-size: 1.2em;
}

/* Generic */
.center {
	text-align: center;
}
.small-button {
	padding: .1em .2em;
	border: 1px solid #9f3127;
	display: inline-block;
}
	.small-button:hover {
		background: #9f3127;
		color: white;
	}
	
.flatbutton {
	background: white;
	display: inline-block;
}
	.flatbutton.green {
		color: #3F863F;
		border: 1px solid #3F863F;
	}
		.flatbutton.green:hover {
			background: #3F863F;
			color: white;
		}

	.flatbutton.red {
		border: 1px solid #9f3127;
		color: #9f3127;
	}
		.flatbutton.red:hover {
			background: #9f3127;
			color: white;
		}
	.flatbutton.big {
		padding: .3em .5em;
		font-size: 1.1em;
	}
.bigline {
	line-height: 2em;
}
.verybigline {
	line-height: 4em;
}
.big {
	font-size: 1.2em;
}

.margintop {
	margin-top: 2em;
}
.hidden {
	display: none;
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 5;
    
    animation-name: blinker;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; background-color: white; box-shadow: none; }
    50% { opacity: 1.0; background-color: yellow; box-shadow: 0 0 30px yellow; }
    100% { opacity: 1.0; background-color: white; box-shadow: none; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.data-table {
	width: auto;
	border-collapse: collapse;
}
	.data-table td,
	.data-table th {
		border: 1px solid silver;
		padding: .2em .3em;
	}


/*
 * Other
 */
.software-name {
	/* Avoid cut the word "Neo-" "Transposer" btw lines 
	 * @todo Check if this can be done through disabling CSS cutting words
	*/
	display: inline-block; 
}

/*
 * Most of browsers load the background image even though in the mobile media
 * query they are disabled. We restrict to big screens to avoid this. It's
 * really important because almost 80% of the weight in this page is this image.
 * 
 * @see http://timkadlec.com/2012/04/media-query-asset-downloading-results/
 */
@media only screen and (min-width: 40rem) {

	.page-login.lang-es .mkt {
		background-image: url(img/mkt-es.jpg);
	}
	.page-login.lang-en .mkt {
		background-image: url(img/mkt-es.jpg);
	}
	.page-login.lang-sw .mkt {
		background-image: url(img/mkt-sw.jpg);
	}
}

@media only screen and (max-width: 40rem) {

	input,
	select,
	button {
		font-size: 1.1em;
	}

	.header .inside {
		width: auto;
		margin: 0;
	}

	.header h2 {
		font-size: 1.4em;
	}

	.main {
		width: auto;
		margin: 0 .5em .5em;
		overflow: hidden;
	}

	/* LOGIN */
	.login-form {
		display: block;
		width: auto;
	}

	.page-login .inside {
		width: auto;
		padding: 0 .5em .5em;
	}

	.page-login .mkt {
		background: none;
		height: auto;
		padding: 0;
	}
		.page-login .mkt h2 {
			padding: .5em 0 0;
			background: #efefef;
			margin-top: 0;
			font-size: 1.3em;
		}
			.page-login .mkt h2 span {
				display: inline;
			}

	.page-login .mkt-text {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.page-login .login-form {
		width: auto;
		display: block;
	}
	.page-login .g-plusone {
		display: none;
	}

	.two-choices a {
		display: block;
		width: auto;
	}

	.change-book {
		float: none;
		display: block;
		margin: .5em 0 .7em;
	}
	.book-warning h3 {
		background: transparent;
		padding-left: 0;
		line-height: normal;
	}

	small.page_number {
		float: right;
		margin: 0 0 .3em .3em;
	}

	#voicechart-container {
		width: auto;
		max-width: 100%;
		position: relative;
		overflow-x: scroll;
	}
	.transposition-feedback .social-buttons {
		float: none;
		text-align: center;
		width: auto;
		margin-top: 1em;
	}

	.teaser .inside {
	    vertical-align: bottom;
	}
		.teaser .inside .more-inside {
			width: auto;
			border: 0;
			border-top: 1px solid silver;
		}

		.teaser .inside .more-inside p {
			display: block;
			width: auto;
		}
		.teaser .login-form {
			display: block;
			margin: 0;		
		}

	/* User */
	.user-settings h3 {
		border-top: 1px solid silver;
		padding-top: .5em;
		margin-top: 1em;
	}
	.user-settings .wizard-button {
		text-align: center;
	}

	/* Wizard */
	.test-area {
		text-align: center;
	}
		.test-area .instructions {
			text-align: left;
		}
		.pre-song {
			text-align: left;
			clear: both;
		}
		.wizard-empiric .answer {
			margin-left: 0;
			margin-top: 2em;
			max-width: 100%;
			text-align: center;
			display: block;
		}

	/* Admin Users */
	.floating_toc {
	    position: relative;
	    top: auto;
	    right: auto;
	    padding: .5em;
	    opacity: 1;
	    width: auto;
	}
}