* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Droid Sans', sans-serif;
	margin: 0;
}

a {
	color: #9f3127;
	text-decoration: none;
}
	a:hover {
		color: red;
	}

h1 {
	font-weight: normal;
	margin-top: .9em;
	margin-bottom: .6em;
	line-height: 1.4em;
}
h2 {
	font-weight: normal;
}
h3 {
	margin-top: .6em;
	margin-bottom: .6em;
	font-weight: normal;
}
h4 {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

p {
	line-height: 1.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
	.push {
		height: 40px;
		clear: both;
	}

/*
 * HEADER
 */

.header {
	background: #da4336;
	overflow: hidden;
	color: white;
	text-align: right;
	padding: .3rem .5rem .3rem .5rem;
}
	.header .inside {
		width: 40em;
		margin: auto;
	}

	.header h2 {
		float: left;
		font-size: 1.3em;
		font-weight: normal;
		margin: 0;
	}
	.header a {
		color: white;
	}
	.header .user {
		line-height: 1.3em;
	}

/*
 * MAIN BLOCKS
 */

.main {
	margin: 1em auto;
	width: 40em;
}

.notification {
	padding: .5em;
	margin-bottom: 1em;
}
	.notification.error {
		color: red;
		border: 1px solid red;
	}
	.notification.success {
		color: green;
		border: 1px solid green;
	}

footer {
	text-align: center;
	background: #eee;
	color: gray;
	text-shadow: 1px 1px 0 white;
	font-style: italic;
	font-size: .9em;
	padding: 0;
	height: 40px;
	max-height: 40px;
	/*margin-top: 2em;*/
	line-height: 14px;
}
	footer p {
		margin: 0;
		line-height: 40px
	}
		footer p .feedback {
			vertical-align: text-bottom;
		}

/*
 * BOOK
 */
.change-book {
	float: right;
	margin: .3rem 0;
	font-size: .9rem;
	font-weight: normal;
	line-height: 1.3em;
}
.page-book h1 {
	text-transform: uppercase;
	font-size: .8em;
	color: grey;
	margin-bottom: 0em;
}
.page-book h3 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1%;
}
	.page-book h2 small {
		font-size: .8em;
		display: inline-block;
	}

.song-index {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.song-index li {
		padding: .4em 0;
		border-bottom: 1px solid #eee;
		line-height: 1.6em;
	}

.teaser {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.8);
	display: table;
}
	.teaser .inside {
	    vertical-align: middle;
	    display: table-cell;
	}
	.teaser .inside .more-inside {
		width: 40em;
		margin: 0 auto;
		border: 1px solid silver;
		padding: 1em;
		overflow: hidden;
		background: white;
	}
		.teaser .inside .more-inside p {
			display: inline-block;
			width: 16em;
		}
		.teaser .login-form {
			display: inline-block;
			vertical-align: top;
			margin: 1em 0 0 1em;
		}

/*
 * LOGIN
 */

.page-login .main { 
	margin: 0;
	width: auto;
}
	.page-login .inside {
		width: 40rem;
		margin: 0 auto;
	}

	.page-login .mkt {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		padding-top: 17%;
	}
		.page-login .mkt h2 {
			background: rgba(255,255,255,.6);
			color: black;
			text-shadow: 1px 1px 0 white;
			padding: .5em 1em;
			font-size: 1.5em;
			text-align: center;
		}
		.page-login .mkt h2 span {
			display: block;
		}

	.page-login .main > .inside {
		margin-top: 1%;
	}

	.page-login .mkt-text {
		display: inline-block;
		width: 18em;
		margin-right: 1em;
	}
	.page-login .login-form {
		display: inline-block;
		width: 18em;
		vertical-align: top;
		margin-top: 1em;
		margin-bottom: 2em;
	}

.login-form {
	/*border: 1px solid silver;*/
	background: #eee;
	padding: .5em 1em 1em;
	display: block;
	width: 20em;
	margin: 0 auto;
}
.lang-switch {
	text-align: center;
	font-size: .9em;
	margin-bottom: .5em;
}


/*
 * User settings
 */

.user-settings h3 {
	font-weight: normal;
}

.user-settings .voice-selector .field {
	margin-right: 1em;
	margin-bottom: .4em;
	display: inline-block;
}

/*
 * TRANSPOSE SONG
 */

.transpose-song h4 {
	margin-bottom: 0;
}
.transpose-song .your-voice {
	text-align: center;
	border-bottom: 1px solid silver;
	padding-bottom: .6em;
}
	.transpose-song .your-voice .small-button {
		margin-left: .5em;
	}

small.page_number {
	padding: .1em .2em;
	border: 1px solid silver;
}

.transpositions-list h4:first-child {
	margin-top: 0;
}
.transposition {
	border-collapse: collapse;
	margin: 1em 2em 1em 0;
	float: left;
}
.transposition:first-child {
	margin-left: 0;
}
	.transposition th { 
		text-align: center; 
		font-weight: normal;
	}
		.transposition th strong {
			font-size: 1.1em;
		}
	.transposition th,
	.transposition td { 
		border: 1px solid silver; 
		padding: .3em .5em;
	}

	.transposition .score {
		font-size: .8rem;
		font-weight: bold;
		color: navy;
	}

	.transposition .capo {
		font-size: .95em;
		padding-left: .3em;
	}

	.transposition .chord {
		font-size: 1.1em;
	}

.chord {
	color: #e00;
	font-family: serif;
}
.chord-sans {
	color: #e00;
	font-family: sans-serif;
}

.show-voice-chart {
	text-align: center;
	margin: 6% 0 4%;
}
	.show-voice-chart a {
		background: #eee;
		color: #333;
		font-size: .9em;
		padding: .4em .7em;
		border: 1px solid white;
	}
		.show-voice-chart a:hover {
			background: grey;
			color: white;
		}

#voicechart-container {
	border-bottom: 1px solid silver;
	padding-bottom: 1em;
	border-top: 1px solid silver;
	padding-top: 1em;
	margin-top: 2em;
	display: none; /* Hidden by default */
}

.voicechart {
	border-collapse: collapse;
}
	.voicechart th {
		font-size: .9em;
		font-weight: bold;
		padding: .3em .7em .3em .4em;
		text-align: right;
	}

	.voicechart tr {
		border-bottom: 3px solid white;
	}
	.voicechart td {
		width: 1.5em;
		font-size: .8em;
		text-align: center;
	}
	.voicechart tr td.note {
		color: white;
		font-size: .7em;
	}
	.voicechart .singer td {
		background: white;
		color: blue;
	}
	.voicechart .singer td.note {
		background: blue;
	}
	.voicechart .original-song td {
		color: #d40000;
		background: white;
	}
	.voicechart .original-song td.note {
		background: #d40000;
	}
	.voicechart .transposed-song td {
		color: green;
		background: white;
	}
	.voicechart .transposed-song td.note {
		background: green;
	}

/* Forms */
.bigbutton {
	padding: .3em .6em;
	font-size: 1.3em;
}
.error {
	color: red;
}
.field.block {
	margin-top: .5em;	
}
	.field.block label {
		display: block;
		line-height: 1.6em;
	}

.field.full-width {
	display: block;
}
	.field.full-width input,
	.field.full-width button {
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
	}

input[type="text"] {
	padding: .2em;
	border: 1px solid silver;
	font-size: 1.2em;
}

/* Generic */
.ovhid {
	overflow: hidden;
}
.center {
	text-align: center;
}
.small-button {
	padding: .1em .2em;
	border: 1px solid #9f3127;
	display: inline-block;
}
	.small-button:hover {
		background: #9f3127;
		color: white;
	}

.margintop {
	margin-top: 2em;
}

/*
 * Other
 */
.software-name {
	display: inline-block; /* Avoid cut the word "Neo-" "Transposer" btw lines */
}

/*
 * Most of browsers load the background image even though in the mobile media
 * query they are disabled. We restrict to big screens to avoid this. It's
 * really important because almost 80% of the page size is this image...
 * 
 * @see http://timkadlec.com/2012/04/media-query-asset-downloading-results/
 */
@media only screen and (min-width: 40rem) {

	.page-login.lang-es .mkt {
		background-image: url(mkt-es.jpg);
	}
	.page-login.lang-en .mkt {
		background-image: url(mkt-es.jpg);
	}
	.page-login.lang-sw .mkt {
		background-image: url(mkt-sw.jpg);
	}
}

@media only screen and (max-width: 40rem) {

	/* Some Samsung devices don't display italics with sans-serif, so we
	 * set explicitly Droid Sans. The bug affects various browsers.
	 * @see https://code.google.com/p/chromium/issues/detail?id=169446
	 */
	body {
		/*font-family: 'Droid sans', sans-serif;*/
	}

	input,
	select,
	button {
		font-size: 1.1em;
	}

	.header .inside {
		width: auto;
		margin: 0;
	}

	.header h2 {
		font-size: 1.4em;
	}

	.main {
		width: auto;
		margin: 0 .5em .5em;
		overflow: hidden;
	}

	/* LOGIN */
	.login-form {
		display: block;
		width: auto;
	}

	.page-login .inside {
		width: auto;
		padding: 0 .5em .5em;
	}

	.page-login .mkt {
		background: none;
		height: auto;
		padding: 0;
	}
		.page-login .mkt h2 {
			padding: .5em 0 0;
			background: #efefef;
		}
			.page-login .mkt h2 span {
				display: inline;
			}

	.page-login .mkt-text {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.page-login .login-form {
		width: auto;
		display: block;
	}

	.change-book {
		float: none;
		display: block;
		margin: 1em 0 .2em;
	}

	small.page_number {
		float: right;
		margin: 0 0 .3em .3em;
	}

	#voicechart-container {
		width: auto;
		max-width: 100%;
		position: relative;
		overflow-x: scroll;
	}

	.teaser .inside {
	    vertical-align: bottom;
	}
		.teaser .inside .more-inside {
			width: auto;
			border: 0;
			border-top: 1px solid silver;
		}

		.teaser .inside .more-inside p {
			display: block;
			width: auto;
		}
		.teaser .login-form {
			display: block;
			margin: 0;		
		}
}