html, body {
	height: 100%;
}

body {
	font-family: 'Droid Sans', Arial, sans-serif;
	margin: 0;
	color: #222;
	background: #fdfdfd;
}

a {
	color: #D32F2F;
	text-decoration: none;
}
	a:hover {
		color: red;
	}

h1 {
	font-weight: normal;
	margin-top: .9em;
	margin-bottom: .6em;
	line-height: 1.4em;
	text-align: center;
}
h2 {
	font-weight: normal;
}
h3 {
	margin-top: .6em;
	margin-bottom: .6em;
	font-weight: normal;
}
h4 {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

p {
	line-height: 1.4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
hr {
	border: 0;
	border-top: 1px solid silver;
}

.wrapper {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	margin: 0 auto -40px;
}
	.push {
		height: 40px;
		clear: both;
	}

/*
 * HEADER
 */

.header {
	background: #D32F2F;
	overflow: hidden;
	color: white;
	text-align: right;
	padding: .4rem .5rem;
	box-shadow: 0 1px 5px silver;
}
	.header .inside {
		width: 40rem;
		margin: auto;
	}

	.header h1,
	.header h2 {
		font-size: 1.3em;
		font-weight: normal;
		margin: 0;
		text-align: left;
		float: left;
	}
		.header h1 small {
			font-weight: lighter;
			font-size: .8rem;
			float: right;
			display: none;
		}
	.header a {
		color: white;
	}
	.header .user {
		line-height: 1.3em;
	}

/*
 * MAIN BLOCKS
 */

.main {
	margin: 1em auto 2em;
	width: 40rem;
}

.notification {
	padding: .5em;
	margin-bottom: 1em;
	color: white;
	box-shadow: 0 2px 2px silver;
}
	.notification.error {
		background: #F44336;
	}
	.notification.success {
		background: #4CAF50;
	}

footer {
	text-align: center;
	background: #eee;
	color: gray;
	text-shadow: 1px 1px 0 white;
	font-style: italic;
	font-size: .9em;
	padding: 0;
	height: 40px;
	max-height: 40px;
	/*margin-top: 2em;*/
	line-height: 14px;
}
	footer p {
		margin: 0;
		line-height: 40px
	}

/* USER VOICE */
.two-choices {
	text-align: center;
}
	.two-choices a {
		display: inline-block;
		font-size: 1.2em;
		padding: 1em;
		border: 1px solid #D32F2F;
		margin: 2%;
		width: 35%;
	}
		.two-choices a span {
			display: block;
			font-size: 1.2em;
		}
.page-user-voice .tip {
	margin-top: 2em;
}
.page-user-voice .voice-selector .field {
	margin-right: 1em;
	margin-bottom: .4em;
	display: inline-block;
}
	.page-user-voice .wizard-button {
		background: #eee;
		padding: .5em .8em;
		line-height: 1.5em;
	}
		.page-user-voice .wizard-button a {
			font-size: 1.1em;
		}

.tip {
	margin: 1em 0;
	/*font-style: italic;*/
	color: #444;
	background: #eee url(img/dialog-information.png) 10px 13px no-repeat;
	padding: 1em 1em .8em 65px;
	min-height: 60px;
}
	.tip h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.tip.new {
		background-image: url(img/icon-megaphon.png);
		background-position: 15px 15px;
		min-height: 32px;
		line-height: 130%;
	}

/* USER BOOK */
.books {
	margin: 1px;
	padding: 0;
	list-style: none;
	/*border: 1px solid silver;*/
	background: #f3f3f3;
}
	.books li {
		margin: 0;
		font-size: 1.4em;
		border-top: 1px solid #ccc;
		/*box-shadow: 0 0 2px #aaa;*/
	}
			.books li:first-child {
				border-top: 0;
			}
			.books li:hover {
				box-shadow: 2px 2px 3px silver;
				background-color: #eee;
			}

		.books li a {
			display: block;
			padding: .5em .5em;
		}
			.books li a small {
				display: block;
				font-size: .7em;
				color: #333;
				font-weight: lighter;
			}

.page-user-book .tip {
	margin-top: 2.5em;
}

/*
 * BOOK
 */
.change-book {
	float: right;
	margin: .3rem 0;
	font-size: .9rem;
	font-weight: normal;
	line-height: 1.3em;
}
.page-book h1 {
	text-transform: uppercase;
	font-size: .8em;
	color: grey;
	margin-bottom: 0;
	text-align: left;
}

.page-book .main h2 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 2%;
}
	.page-book h2 small {
		font-size: .8em;
		display: inline-block;
	}

.tip.new.resucilex {
	background: black url(img/resucilex-banner.png) left -16px no-repeat;
	color: #ddd;
	padding-left: 70px;
	line-height: 140%;
	margin-bottom: 1.5em;
}

.link-all-report-wrapper {
	background: white;
	box-shadow: 0 0 10px white;
	float: right;
	margin-right: 2px;
	text-align: center;
	display: block;
}

a.link-all-report {
	background-color: #eee;
	padding: .5em .7em .5em 40px;
	display: inline-block;
	background-position: .7em .7em!important;
	text-align: left;
}
	.link-all-report small {
		display: block;
	}

.song-index {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.song-index li {
		padding: 0;
		border-bottom: 1px solid #eee;
		line-height: 1.6em;
	}

	.song-index li a {
		padding: .4em 0;
		display: block;
	}
		.song-index li a .black {
			color: #222;
		}

.teaser {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.8);
	display: table;
}
	.teaser .inside {
	    vertical-align: middle;
	    display: table-cell;
	}
	.teaser .inside .more-inside {
		width: 40rem;
		margin: 0 auto;
		border: 1px solid silver;
		padding: 1em;
		overflow: hidden;
		background: white;
		box-shadow: 1px 1px 3px silver;
	}
		.teaser .inside .more-inside p {
			display: inline-block;
			width: 16em;
		}
		.teaser .login-form {
			display: inline-block;
			vertical-align: top;
			margin: 1em 0 0 1em;
		}

/*
 * LOGIN
 */

.page-login .main { 
	margin: 0;
	width: auto;
}
	.page-login .inside {
		width: 40rem;
		margin: 0 auto;
	}

	.page-login .mkt {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		padding-top: 17%;
	}
		.page-login .mkt h2 {
			background: rgba(255,255,255,.8);
			color: black;
			text-shadow: 1px 1px 0 white;
			padding: .5em 1em;
			font-size: 1.5em;
			text-align: center;
			box-shadow: -3px 0 10px silver;
		}
		.page-login .mkt h2 span {
			display: block;
		}

	.page-login .main > .inside {
		margin-top: 1%;
	}

	.page-login .mkt-text {
		display: inline-block;
		width: 18em;
		margin-right: 1em;
	}
	.page-login .login-form {
		display: inline-block;
		width: 18em;
		vertical-align: top;
		margin-top: 1em;
		margin-bottom: 2em;
		box-shadow: 1px 1px 3px silver;
		border-radius: 3px;
	}

.login-form {
	/*border: 1px solid silver;*/
	background: #eee;
	padding: .5em 1em 1em;
	display: block;
	width: 20em;
	margin: 0 auto;
}
.lang-switch {
	text-align: center;
	font-size: .9em;
	margin-bottom: .5em;
	border-top: 1px solid silver;
	padding-top: .9em;
}

.landing-info {
	border-top: 1px solid silver;
	margin-top: 1em;
	padding-top: 1em;
}
.disclaimer {
	font-style: italic;
	font-size: .9em;
	color: #444;
}

#dark-bg {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}

/*
 * TRANSPOSE SONG
 */

.transpose-song h1 {
	text-align: center;
}
.transpose-song .explanation {
	margin-bottom: 0;
	clear: both;
}

.transpositions-list {
	overflow: hidden;
}
	.transpositions-list h4:first-child {
		margin-top: 0;
		overflow: hidden;
	}
.transposition {
	border-collapse: collapse;
	margin: 1em 2em 1em 0;
	float: left;
	font-size: 1.1em;
}
	.transposition th { 
		text-align: center; 
		font-weight: normal;
		border-bottom: 1px solid silver;
	}
		.transposition th strong {
			font-size: 1.1em;
		}
	.transposition th,
	.transposition td { 
		padding: .2em .5em;
	}

	.transposition .score {
		font-size: .8rem;
		font-weight: bold;
		color: navy;
	}

	.transposition .capo {
		padding-left: .3em;
	}

	.transposition .chord {
		font-size: 1.1em;
	}
	.transposition .original {
		text-align: right;
	}
	.transposition .arrow {
		padding-left: 0;
		padding-right: 0;
	}
	.transposition .chord-score {
		padding: 0;
		text-align: right;
		font-size: .8em;
		color: blue;
	}
	.transposition .transposed {
		text-align: left;
	}
	.transposition .transposed span {
		cursor: help;
	}
	.transposition .as-book {
		font-size: .85em;
	}

.transpose-song #dark-bg {
	display: none;
}

.transpose-song #chord-chart-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -150px;
	width: 180px;
	height: 150px;
	padding: 1em 1em .5em;
	z-index: 2;

	display: none;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	background: #fafafa;
	text-align: center;
}

#chord-chart-dialog figure {
	margin: .5em 0 0;
}
#chord-chart-dialog figcaption {
	text-align: center;
	margin-top: .2em;
	color: #e00;
	font-size: 1.3em;
}

.chord {
	color: #e00;
	font-family: serif;
}
.chord-sans {
	color: #e00;
	font-family: sans-serif;
}
.chord-color {
	color: #e00;
}

.show-voice-chart {
	text-align: center;
	margin: 1em 0 1.5em;
	clear: both;
	overflow: hidden;
	line-height: 2em;
	padding-bottom: 5px;
}
	/*.show-voice-chart a {
		background: #eee;
		color: #333;
		font-size: .9em;
		padding: .4em .7em;
		box-shadow: 1px 1px 1px silver;
	}
		/** @todo Unificar con flatbutton */
		.show-voice-chart a:hover {
			/*background: grey;
			color: white;*/
/*			box-shadow: 1px 1px 5px silver;*/
		}

.transposition-feedback {
	margin-top: 1em;
}
	.transposition-feedback .answers {
		display: block;
		overflow: hidden;
		margin: 0 0 1em;
		padding-bottom: 5px;
	}
		.transposition-feedback .answers button {
			display: block;
			width: 48.5%;
			box-sizing: border-box;
			margin: 0 0 0 2%;
			padding: .3em .5em;
			border: 0;
			float: left;
			color: white;
			font-size: 1em;
			line-height: 130%;
			font-weight: bold;
			text-align: center;
			box-shadow: 1px 1px 5px silver;
			border-radius: 4px;
		}
			.transposition-feedback .answers button:first-child {
				margin-left: 0;
			}
			.transposition-feedback .answers button small {
				display: block;
				font-size: .9em;
				font-weight: normal;
			}

		.transposition-feedback button.yes {
			background: #3F863F;
		}
			.transposition-feedback button.yes:hover {
				background-color: #4CAF50;
			}
		.transposition-feedback button.no {
			background: #c4392d;
		}
			.transposition-feedback button.no:hover {
				background-color: #E53A2B;
			}
	
	.transposition-feedback .thanks {
		color: white;
		font-style: italic;
		padding: .8em .8em;
		background: #4CAF50;
	}
	#reasons-no {
		margin: 0;
		padding: 0 .5em;
		font-size: .9em;
		font-style: italic;
		border: 1px solid #D32F2F;
		list-style: none;
		color: #444;
	}
		#reasons-no li {
			margin: .5em 0;
		}

.transpose-song .your-voice {
	text-align: center;
	margin-top: 1.5em;
}
	.transpose-song .your-voice .small-button {
		margin-left: .5em;
	}

.transpose-song .tip {
	margin-top: 1.5em;
}

#voicechart-container {
	padding-bottom: 1em;
	border-top: 1px solid silver;
	padding-top: 1em;
	margin-top: 2em;
	display: none; /* Hidden by default */
	clear: both;
}

.voicechart {
	border-collapse: collapse;
}
	.voicechart th {
		font-size: .9em;
		font-weight: bold;
		padding: .3em .7em .3em .4em;
		text-align: right;
	}

	.voicechart tr {
		border-bottom: 3px solid white;
	}
	.voicechart td {
		width: 1.5em;
		font-size: .8em;
		text-align: center;
	}
	.voicechart tr td.note {
		color: white;
		font-size: .7em;
	}
	.voicechart .singer td {
		background: white;
		color: blue;
	}
	.voicechart .singer td.note {
		background: blue;
	}
	.voicechart .original-song td {
		color: #d40000;
		background: white;
	}
	.voicechart .original-song td.note {
		background: #d40000;
	}
	.voicechart .transposed-song td {
		color: green;
		background: white;
	}
	.voicechart .transposed-song td.note {
		background: green;
	}
	.voicechart .people-compatible td {
		color: fuchsia;
		background: white;
	}
	.voicechart .people-compatible td.note {
		background: fuchsia;
	}


/* Wizard */
.gender-selection {
	list-style: none;
	padding-left: 0;
}
	.gender-selection li {
		margin-top: .7em;
	}
	.gender-selection ul {
		padding-left: 1em;
		list-style: none;
	}

#sub-male,
#sub-female {
	display: none;
}
h2.step-1 {
	margin-top: 1em;
	border-top: 3px solid silver;
	padding-top: 1em;
}
.pre-song {
	font-family: monospace;
	background: rgb(253, 253, 248);
	box-shadow: 0px 2px .5em silver;
	padding: 0;
	display: inline-block;
	color: #333;
	font-size: 1.1em;
	max-width: 100%;

	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
	.pre-song .inside {
		margin: 1rem;
		max-width: none;
		display: inline-block;
	}

	.pre-song .capo {
		color: #e00;
	}
	.pre-song h5 {
		color: #e00;
		font-family: arial, sans-serif;
		text-transform: uppercase;
		text-align: center;
		margin-top: 0;
	}
	.pre-song .chord {
		font-size: .9em;
	}

.wizard-empiric .instructions {
	margin-bottom: 2em;
}

.wizard-empiric .answer {
	display: inline-block;
	vertical-align: top;
	margin-left: 3rem;
	margin-top: 1em;
	max-width: 16rem;
}
	.wizard-empiric .answer h3 {
		margin-top: 0;
	}

	.wizard-empiric .answer nav {
		line-height: 3em;
	}
		.wizard-empiric .answer nav button {
			margin-left: .5em;
		}
			.wizard-empiric .answer nav button:first-child {
				margin-left: 0;
			}
		.wizard-empiric .answer nav button.green {
			padding-left: 1em;
			padding-right: 1em;
		}

	.wizard-empiric .test-msg {
		box-shadow: 1px 1px 6px #aaa;
	}
		.wizard-empiric .test-msg h3 {
			text-align: center;
			margin-top: 0;
			background: #F44336;
			color: white;
			font-size: 1.2em;
			line-height: 200%;
			text-transform: uppercase;
			font-weight: bold;
		}
		.wizard-empiric .test-msg .inside {
			padding: 0 1em 1em;
		}
		.wizard-empiric .test-msg nav {
			text-align: center;
			margin-top: 1em;
			line-height: 3em;
		}

/* All Songs Report */
.all-songs-report h1 {
	margin-bottom: 0;
}
.all-songs-report .your-voice {
	margin-top: .5em;
	text-align: center;
}
.all-songs-report .report-actions {
	text-align: center;
	line-height: 260%;
}
	.all-songs-report .report-actions a.btn-neutral {
		margin-right: 1em;
	}

.all-songs-report .note {
	margin: 1em 0 0;
	font-size: .9em;
}

.all-songs-report .songs-list,
.all-songs-report .songs-list ul {
	padding: 0;
	list-style: none;
}
	.all-songs-report .songs-list h2 {
		margin: 0;
		padding: .5em 0 0;
		font-size: 1em;
		font-weight: bold;
	}
	.all-songs-report .songs-list > li {
		widows: 5;
		orphans: 5;
	}
	.all-songs-report .songs-list li {
		padding: 0;
	}
		.all-songs-report .songs-list li li {
			font-size: .9em;
		}
		.all-songs-report .songs-list .chord-pair {
			display: inline-block;
		}


/* Admin Dashboard */
.admin-dashboard {
	background: #efefef;
}
.admin-dashboard .main {
	width: auto;
	margin: 1em;
	overflow-x: scroll;
}
	.admin-dashboard .admin-tools {
		overflow: hidden;
	}
		.admin-dashboard .admin-tools ul,
		.admin-dashboard .admin-tools p {
			float: left;
			margin: 0 1em 0;
			padding: 0;
			list-style-type: none;
		}
		.admin-dashboard .admin-tools p {
			line-height: 3em;
		}
		.admin-dashboard .admin-tools h4 {
			margin: .5em 0;
		}
		.admin-dashboard .admin-tools li {
			line-height: 180%;
		}

	.admin-dashboard article {
		display: inline-block;
		width: 30%;
		vertical-align: top;
		padding: .5rem;
		background: white;
		box-shadow: 1px 1px 1px #eee;
		margin: .5rem;
		border-radius: .3em;
	}
	.admin-dashboard article.row {
		display: block;
		clear: both;
		width: auto;
	}
	.admin-dashboard article h2 {
		margin: 0 -0.5rem .5em;
		padding: 0 .5rem .5em;
		border-bottom: 1px solid #eee;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
		color: #555;
	}
	.circles-container {
		text-align: center;
	}
	.admin-dashboard .data-circle {
		display: inline-block;
		vertical-align: top;
		width: 130px;
		max-width: 130px;
		height: 130px;
		max-height: 130px;
		background: #009587;
		border-radius: 50%;
		text-align: center;
		color: white;
		font-weight: normal;
		margin: .5em;
	}
		.admin-dashboard .data-circle span {
			display: block;
			padding-top: 15%;
			font-size: .9em;
		}
		.admin-dashboard .data-circle b {
			display: block;
			margin-top: 12%;
			font-size: 2.5em;
			font-weight: normal;
		}
		.admin-dashboard .data-circle.good-users {
			background: #ccdb38;
			color: #444;
		}
		.admin-dashboard .data-circle.good-users span {
			padding-top: 15px;
		}
		.admin-dashboard .data-circle.good-users b {
			margin-top: .3em;
		}

	.admin-dashboard .data-circle.small-circle {
		width: 90px;
		max-width: 90px;
		height: 90px;
		max-height: 90px;
		background-color: #92791e;
	}
		.admin-dashboard .data-circle.small-circle span {
			font-size: .8em;
		}
		.admin-dashboard .data-circle.small-circle b {
			font-size: 2em;
		}

.feedback-graph {
	width: 102px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
}
.feedback-graph.big-graph {
	width: 200px;
}
	.feedback-graph .yes,
	.feedback-graph .no {
		font-size: .8em;
		color: white;
		display: block;
		margin: 0;
		float: left;
		box-sizing: border-box;
		padding: 0 3px;
		line-height: 140%;
		text-shadow: 1px 1px 0 black;
	}
	.feedback-graph .yes {
		background: #41A341;
	}
	.feedback-graph .no {
		background: #D32F2F;
		text-align: right;
	}

	.feedback-graph.big-graph .yes,
	.feedback-graph.big-graph .no {
		line-height: 160%;
	}

.floating_toc {
    position: fixed;
    top: 0;
    right: 0;
    font-size: .8em;
    line-height: 170%;
    background: white;
    /*z-index: -999;*/
    padding: .5em;
    opacity: .7;
    width: 300px;
    max-height: 100%;
}
    .floating_toc:hover {
        /*z-index: 999;*/
        opacity: 1;
    }
    .floating_toc ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

/* Forms */
.bigbutton {
	padding: .3em .6em;
	font-size: 1.3em;
}
.error {
	color: red;
}
.field.block {
	margin-top: .5em;	
}
	.field.block label {
		display: block;
		line-height: 1.6em;
	}

.field.full-width {
	display: block;
	line-height: 1.6em
}
.field.full-width {
	display: block
}
.field.full-width button,
.field.full-width input {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box
}
input[type=text] {
	padding: .2em;
	border: 1px solid silver;
	font-size: 1.2em;
}

/* Generic */
.center {
	text-align: center;
}
.small-button {
	padding: .1em .2em;
	border: 1px solid #D32F2F;
	display: inline-block;
}
	.small-button:hover {
		background-color: #D32F2F;
		color: white;
	}
	
.flatbutton {
	background: white;
	display: inline-block;
}
	.flatbutton:hover {
		box-shadow: 1px 1px 2px silver;
	}
	.flatbutton.green {
		color: #3F863F;
		border: 1px solid #3F863F;
	}
		.flatbutton.green:hover,
		.flatbutton.green.highlighted {
			background-color: #3F863F;
			color: white;
		}

	.flatbutton.red {
		border: 1px solid #D32F2F;
		color: #D32F2F;
	}
		.flatbutton.red:hover,
		.flatbutton.red.highlighted {
			background-color: #D32F2F;
			color: white;
		}
	.flatbutton.big {
		padding: .3em .5em;
		font-size: 1.1em;
	}

a.btn-icon {
	background-position: .7em .5em;
	background-repeat: no-repeat;
	padding-left: 40px;
}
.icon-download {
	background-image: url(img/icon-dl.png);
}
.icon-print {
	background-image: url(img/icon-print.png);
}

.btn-neutral {
	background-color: #eee;
	color: #333;
	border: 0;
	border-radius: 3px;
	padding: .5em .7em;
	box-shadow: 1px 1px 3px #aaa;
}
	.btn-neutral:hover,
	.btn-neutral:active {
		box-shadow: 2px 2px 3px #aaa;
		background-color: #e7e7e7;
		color: #333;
	}
	.btn-neutral.bigbutton {
		padding: .5em 1em;
	}
	.btn-neutral:disabled {
		color: gray;
		box-shadow: none;
	}
		.btn-neutral:disabled:hover {
			box-shadow: none;
		}

.btn-blue {
	background-color: #2196f3;
	color: white;
}
	.btn-blue:hover,
	.btn-blue:active {
		background-color: #1976d2;
		color: #efefef;
	}

.bigline {
	line-height: 2em;
}
.verybigline {
	line-height: 4em;
}
.big {
	font-size: 1.2em;
	line-height: 150%;
}
.advice {
	font-style: italic;
	font-size: .95em;
	color: gray;
	text-align: center;
}
.green {
	color: green;
}

.margintop {
	margin-top: 2em;
}
.hidden {
	display: none;
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 5;
    
    animation-name: blinker;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; background-color: white; box-shadow: none; }
    50% { opacity: 1.0; background-color: yellow; box-shadow: 0 0 30px yellow; }
    100% { opacity: 1.0; background-color: white; box-shadow: none; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.data-table {
	width: auto;
	border-collapse: collapse;
	background: white;
}
	.data-table td,
	.data-table th {
		border-bottom: 1px solid silver;
		padding: .2em .3em;
	}

/*
 * Manifesto
 */
.static-page .main {
	font-size: 1.1em;
	background: #fcfcf7;
	box-shadow: 1px 1px 5px silver;
}
	.static-page .main .inside {
		padding: 1em 3em;
		margin-top: 2em;
	}
	.static-page .main h1 {
		margin-top: 0;
	}


/*
 * Other
 */
.software-name {
	/* Avoid cut the word "Neo-" "Transposer" btw lines 
	 * @todo Check if this can be done through disabling CSS cutting words
	*/
	display: inline-block; 
}

/*
 * Most of browsers load the background image even though in the mobile media
 * query they are disabled. We restrict to big screens to avoid this. It's
 * really important because almost 80% of the weight in this page is this image.
 * 
 * @see http://timkadlec.com/2012/04/media-query-asset-downloading-results/
 */
@media only screen and (min-width: 40rem) {

	.page-login.lang-es .mkt {
		background-image: url(img/mkt-es.jpg);
	}
	.page-login.lang-sw .mkt {
		background-image: url(img/mkt-sw.jpg);
	}
}

@media only screen and (max-width: 40rem) {

	input,
	select,
	button {
		font-size: 1.1em;
	}

	/* Layout */
	.header .inside {
		width: auto;
		margin: 0;
	}

	.header h2 {
		font-size: 1.4em;
	}

	.main {
		width: auto;
		margin: 0 .5em 1.5em;
		overflow: hidden;
	}

	/* LOGIN */
	.login-form {
		display: block;
		width: auto;
	}

	.page-login .inside {
		width: auto;
		padding: 0 .5em .5em;
	}

	.page-login .mkt {
		background: none;
		height: auto;
		padding: 0;
	}
		.page-login .mkt h2 {
			padding: .5em 0;
			background: #efefef;
			margin-top: 0;
			font-size: 1.3em;
		}
			.page-login .mkt h2 span {
				display: inline;
			}

	.page-login .mkt-text {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.page-login .login-form {
		width: auto;
		display: block;
	}

	.two-choices a {
		display: block;
		width: auto;
	}

	/* Book */
	.change-book {
		float: none;
		display: block;
		margin: .5em 0 .7em;
	}

	.page-book .tip {
		padding-left: 1em;
	}
		.page-book .tip h3 {
			padding-left: 65px;
		}

	.tip.new {
		background-image: none;
		font-size: .9em;
	}

	.song-index {
		margin-top: 1em;
	}

	.link-all-report-wrapper {
		background: none;
		box-shadow: none;
		float: none;
		margin-right: 0;
		margin-bottom: .5em;
		margin-top: .5em;
		text-align: left;
	}

	.song-index li a:active {
		background: #f4f4f4;
	}
		
	/* TransposeSong */
	.transposition,
	.transposition:first-child {
		margin: 1em auto;
		float: none;
		clear: both;
	}

	#voicechart-container {
		width: auto;
		max-width: 100%;
		position: relative;
		overflow-x: scroll;
	}

	.teaser .inside {
	    vertical-align: bottom;
	}
		.teaser .inside .more-inside {
			width: auto;
			border: 0;
			border-top: 1px solid silver;
		}

		.teaser .inside .more-inside p {
			display: block;
			width: auto;
			font-size: 1.1em;
		}
		.teaser .login-form {
			display: block;
			margin: 0;		
		}

	.transpose-song .your-voice {
		font-size: .95em;
	}
		.transpose-song .your-voice .small-button {
			font-size: 1.1em;
		}
	.transpose-song .tip {
		font-size: .9em;
	}

	/* User voice */
	.page-user-voice .wizard-button {
		text-align: center;
	}

	/* Wizard */
	.test-area {
		text-align: center;
	}
		.test-area .instructions {
			text-align: left;
		}
		.pre-song {
			text-align: left;
			clear: both;
		}
		.wizard-empiric .answer {
			margin-left: 0;
			margin-top: 2em;
			max-width: 100%;
			text-align: center;
			display: block;
		}
	.wizard-empiric .test-msg {
		margin: 0 6px 6px;
	}

	/* All Songs Report */
	.icon-print {
		display: none;
	}

	/* Admin Dashboard */
	.floating_toc {
	    position: relative;
	    top: auto;
	    right: auto;
	    padding: .5em;
	    opacity: 1;
	    width: auto;
	    margin-bottom: .5em;
	    font-size: .9em;
	}

	.admin-dashboard article {
		display: block;
		width: auto;
		margin: 0 0 .5rem;
	}

	/*
	 * Manifesto
	 */
	.static-page .main {
		margin-top: 1em;
		font-size: 1em;
	}

		.static-page .main .inside {
			padding: 0 .5em .5em;
		}
		.static-page .main h1 {
			margin-top: 0;
		}
}