tests/reports
dump.sh
vendor
web/static/style.min.css
TODO
config.php
web/resucito-imgs/
.sublime-project
.sublime-project.sublime-workspace
cache/profiler
web/static/compiled-*.css
tests/phpmd/phpmd.html
