
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


tests/_output
dump.sh
vendor
TODO
web/resucito-imgs/
.sublime-project
.sublime-project.sublime-workspace
cache/profiler
web/static/compiled-*.css
tests/phpmd/phpmd.html
GeoLite2-Country.mmdb
**/Thumbs.db*
.code-workspace.code-workspace
.idea
.vscode
.env
_output
web/adminer*
