parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#4 \$id_book of class NeoTransposer\\Domain\\Entity\\User constructor expects null, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_book \(null\) on left side of \?\? is always null\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Http/Controllers/LoginController.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/NeoTransposer/Domain/AdminTasks/TestAllTranspositions.php

		-
			message: '#^Parameter \#2 \$idUser of method NeoTransposer\\Domain\\Repository\\SongRepository\:\:readBookSongsWithUserFeedback\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/AllSongsReport.php

		-
			message: '#^Property NeoTransposer\\Domain\\TransposedSong\:\:\$not_equivalent \(NeoTransposer\\Domain\\Transposition\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/NeoTransposer/Domain/AllSongsReport.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/NeoTransposer/Domain/AllSongsReport.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_user \(null\) in empty\(\) is always falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/NeoTransposer/Domain/Entity/User.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$trans$#'
			identifier: parameter.notFound
			count: 1
			path: src/NeoTransposer/Domain/NotesNotation.php

		-
			message: '#^Parameter \#2 \$idUser of method NeoTransposer\\Domain\\Repository\\FeedbackRepository\:\:createOrUpdateFeedback\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/Service/FeedbackRecorder.php

		-
			message: '#^Parameter \#1 \$idUser of method NeoTransposer\\Domain\\Repository\\UnhappyUserRepository\:\:delete\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/Service/UnhappinessManager.php

		-
			message: '#^Parameter \#1 \$idUser of method NeoTransposer\\Domain\\Repository\\UnhappyUserRepository\:\:readUserIsUnhappyAndNoAction\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/Service/UnhappinessManager.php

		-
			message: '#^Parameter \#1 \$idUser of method NeoTransposer\\Domain\\Repository\\UnhappyUserRepository\:\:writeUnhappyUser\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/Service/UnhappinessManager.php

		-
			message: '#^Parameter \#3 \$idUser of method NeoTransposer\\Domain\\Repository\\UnhappyUserRepository\:\:updateUnhappyUser\(\) expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/NeoTransposer/Domain/Service/UnhappinessManager.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_book \(null\) does not accept \(int\<min, \-1\>\|int\<1, max\>\)\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/NeoTransposer/Domain/Service/UserWriter.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Method NeoTransposer\\Domain\\TransposedSong\:\:getPeopleCompatible\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Method NeoTransposer\\Domain\\TransposedSong\:\:getPeopleCompatibleStatus\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Method NeoTransposer\\Domain\\TransposedSong\:\:getPeopleCompatibleStatusMsg\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Property NeoTransposer\\Domain\\TransposedSong\:\:\$not_equivalent \(NeoTransposer\\Domain\\Transposition\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Right side of \|\| is always true\.$#'
			identifier: booleanOr.rightAlwaysTrue
			count: 1
			path: src/NeoTransposer/Domain/TransposedSong.php

		-
			message: '#^Method NeoTransposer\\Domain\\Transposition\:\:__construct\(\) with return type void returns \$this\(NeoTransposer\\Domain\\Transposition\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/NeoTransposer/Domain/Transposition.php

		-
			message: '#^Method NeoTransposer\\Domain\\ValueObject\\UserPerformance\:\:reports\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Domain/ValueObject/UserPerformance.php

		-
			message: '#^Method NeoTransposer\\Domain\\ValueObject\\UserPerformance\:\:score\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Domain/ValueObject/UserPerformance.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Connection\:\:fetchOne\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/NeoTransposer/Infrastructure/BookRepositoryMysql.php

		-
			message: '#^Method NeoTransposer\\Infrastructure\\BookRepositoryMysql\:\:readBook\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Infrastructure/BookRepositoryMysql.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_user \(null\) in empty\(\) is always falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/NeoTransposer/Infrastructure/LoginFlow.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/NeoTransposer/Infrastructure/LoginFlow.php

		-
			message: '#^Method NeoTransposer\\Infrastructure\\SongRepositoryMysql\:\:readSongByField\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Infrastructure/SongRepositoryMysql.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: src/NeoTransposer/Infrastructure/UserRepositoryMysql.php

		-
			message: '#^Method NeoTransposer\\Infrastructure\\UserRepositoryMysql\:\:save\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/NeoTransposer/Infrastructure/UserRepositoryMysql.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_user \(null\) does not accept int\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/NeoTransposer/Infrastructure/UserRepositoryMysql.php

		-
			message: '#^Property NeoTransposer\\Domain\\Entity\\User\:\:\$id_user \(null\) in empty\(\) is always falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/NeoTransposer/Infrastructure/UserRepositoryMysql.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/NeoTransposer/Infrastructure/UserRepositoryMysql.php
