<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" executionOrder="random">

    <testsuites>
        <testsuite name="Unit tests for Neo-Transposer">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

	<php>
		<includePath>.</includePath>
	</php>

	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix=".php">vendor</directory>
		</exclude>

		<report>
			<html outputDirectory="tests/reports" />
		</report>
	</coverage>

</phpunit>
