<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Unit tests for Neo-Transposer">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
				<directory suffix=".php">vendor</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="tests/reports" charset="UTF-8"/>
	</logging>

	<php>
		<includePath>.</includePath>
	</php>

</phpunit>
