body {
	font-family: sans-serif; margin: 0;
}

.header {
	background: #eee;
	overflow: hidden;
	padding: .5em;
}
	.header h2 {
		float: left;
		margin: 0;
		font-size: 1.2em;
	}

	.header .session {
		float: right;
		text-align: right;
	}

.main {
	margin: 1em auto;
	width: 60em;
}

.song-index {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.song-index li {
		margin: .3em 0;
	}
	.song-index li a {
		text-decoration: none;
	}

h1.song-title {
	border-bottom: 1px solid silver;
	padding-bottom: .5em;
	font-weight: normal;
}

small.page_number {
	padding: .2em;
	border: 1px solid silver;
}

.voicechart {
	border-collapse: collapse;
}
	.voicechart th {
		font-size: .9em;
		font-weight: bold;
		padding: .3em .7em .3em .4em;
		text-align: right;
	}

	.voicechart tr {
		border-bottom: 3px solid white;
	}
	.voicechart td {
		width: 1.5em;
		font-size: .8em;
		text-align: center;
	}
	.voicechart tr td.note {
		color: white;
		font-size: .7em;
	}
	.voicechart .singer td {
		background: white;
		color: blue;
	}
	.voicechart .singer td.note {
		background: blue;
	}
	.voicechart .original-song td {
		color: #d40000;
		background: white;
	}
	.voicechart .original-song td.note {
		background: #d40000;
	}
	.voicechart .transposed-song td {
		color: green;
		background: white;
	}
	.voicechart .transposed-song td.note {
		background: green;
	}


.transposition {
	border-collapse: collapse;
	float: left;
	margin: 1em;
}
	.transposition th { 
		text-align: center; 
		font-weight: normal;
	}
		.transposition th small {
			color: blue;
		}
	.transposition th,
	.transposition td { 
		border: 1px solid silver; 
		padding: .3em .5em;
	}

.chord {
	color: #e00;
	font-family: serif;
}
.chord-sans {
	color: #e00;
	font-family: sans-serif;
}

/* Forms */
.bigbutton {
	padding: .3em .6em;
	font-size: 1.3em;
}

/* Generic */
.ovhid {
	overflow: hidden;
}
.center {
	text-align: center;
}