{% extends "base.twig" %}

{% block page_class %}static-page{% endblock %}

{% block content %}

<div class="inside">
	<h1>Compromiso de gratuidad</h1>

	<blockquote>«Gratis lo recibisteis, dadlo gratis.»<br><small>— Mateo 10, 8</small></blockquote>

	<p>Mucha gente me pregunta si gano dinero con esta página web, sobre todo cuando comento el gran número de usuarios. La respuesta es esta:</p>
	<p>Neo-Transposer es fruto del deseo de ayudar a los cantores del Camino Neocatecumenal y del agradecimiento a la Iglesia. Cuando lo programé, me encontraba en un seminario Redemptoris Mater, literalmente viviendo de la Iglesia, que me dio una casa, comida cada día, estudios, formación humana y una pila de experiencias impagables, gracias a muchas personas que, gratuitamente, se pusieron a mi servicio por amor a Cristo. Y que no me pasaron una factura cuando les dije que lo dejaba.</p>
    <p>En agradecimiento a ellos, y a muchos otros que me han acompañado en mi camino, ofrezco este software gratuitamente.</p>
	<p>Neo-Transposer no se utiliza ni se utilizará nunca para generar dinero a través de cobrar por su uso, poner publicidad, vender datos de sus usuarios o cualquier otra forma de monetización visible u oculta. Neo-Transposer es y seguirá siendo siempre completamente gratuito. Además, Neo-Transposer es software libre, es decir, su código fuente está a disposición de todos.</p>
	<p>Sería muy triste ensuciar este proyecto con todas las triquiñuelas de la monetización online para acabar generando cuatro duros, cuando mi profesión ya me proporciona un sueldo digno. Además, de alguna forma empezaría a hacerlo por dinero, y eso limitaría mi libertad y mi creatividad.</p>
	<p>Por otra parte, el coste económico de mantener Neo-Transposer se reduce a la cuota del dominio y el servidor, gastos que puedo asumir personalmente, lo cual, además, asegura mi plena libertad en la dirección de este servicio.</p>
	<p>Feliz Pascua.</p>
	<p>Israel<br>
	Madrid, 4 de abril de 2026.</p>
</div>

{% endblock %}
