{% extends "base.twig" %}

{% block page_class %}static-page{% endblock %}

{% block content %}

<div class="inside">
	<h1>{% trans %}Manifiesto{% endtrans %}</h1>

	<p>Vivimos en un mundo saturado de tecnología, y la mayor parte de ella, en vez de facilitarnos la vida, nos la complica. No solo no resuelve tantos problemas (violencia, soledad, pobreza, corrupción, falta de sentido de la vida, ignorancia...), sino que nos añade muchos otros. Y nos mete en una cultura de adicción a la novedad, infoxicación, consumismo y superficialidad.</p>
	<p>Los que hacen tecnología están concentrados en los objetivos medibles: beneficio económico, número de visitas, número de likes. Lo importante es que el producto, la marca, se vuelvan famosos, rindan, generen plusvalía. Los efectos que esto cause en la vida de las personas ya no importan. Lo importante son los medios, no los fines.</p>
	<p>Se nos ha ido de las manos. Hay que recuperar el norte. No debemos preguntarnos cómo vamos a hacer un producto, o cómo vamos a hacer que el producto triunfe, sino qué productos tenemos que hacer para que el mundo sea un lugar mejor.</p>
	<p>Neo-Transposer no mide su éxito en número de visitas, likes en Facebook o beneficio económico (es completamente gratis y sin ánimo de lucro), sino en cómo y cuánto ayuda a los cantores del Camino a desarrollar su carisma. Y eso se ve lejos del teclado, o sea, en la vida real.</p>
	<p>Por eso la aplicación está diseñada para que la uses el mínimo tiempo posible, y, una vez que ha hecho su trabajo, la cierres. No se busca maximizar el “tiempo de permanencia en la página” para provocar más click-rate en los anuncios, porque no hay anuncios.</p>
	<p>Tampoco hay botones “like”, que, además, son un mecanismo de espionaje de Facebook y promueven una cultura de lo pasajero que en nada ayuda a las personas a encontrar la verdad, que es Dios.</p>
	<p>Por eso la simplicidad es el valor más importante en el diseño de la aplicación, así como la velocidad y la compatibilidad con la mayor variedad de dispositivos posible. Porque no hace falta que tengas un iPhone o un Samsung de última generación para poder usar la app.</p>
	<p>Por eso la aplicación no usa un lenguaje de autobombo, ni se proclama como la solución a todos tus problemas.</p>
	<p>Por eso la aplicación es software libre, abierta para todo el que quiera examinarla por dentro o contribuir a su desarrollo.</p>
	<p>Y por eso creo, por encima de todo, que esta aplicación es una gota ínfima en el océano de la experiencia cristiana. Es una simple herramienta, y de la clase más baja, por ser una simple calculadora, y nunca debe ser obstáculo para la experiencia real del Catecumenado. Si resulta serlo, la cerraré y tan contentos.</p>
	<p>Feliz servicio de cantor.</p>
	<p>Israel<br>
	28 de abril de 2017<br>
	<a href="mailto:neo-transposer@mail.com">neo-transposer@mail.com</a></p>
</div>

{% endblock %}
