<!doctype html>
<html lang="{{ app.locale }}">
<head>
	<meta charset="utf-8" />
	<meta name="Title" content="{% trans %}All transpositions for your voice{% endtrans %}"/>
	<meta name="Author" content="Neo-Transposer"/>

	<title>{{ page_title }}</title>
	<style>

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

/* There's no italic included in the font */
@font-face {
	font-family: 'Droid Sans';
	font-style: italic;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: bold;
	src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMfEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

@page {
	size: A4;
	margin: 1cm;
}

body {
	font-family: 'Droid Sans';
	margin: 0;
	color: black;
	background: white;
}

nav {
	text-align: center;
	font-size: .9em;
	margin-bottom: .5em;
}
	nav a {
		color: #D32F2F;
		border: 1px solid #D32F2F;
		padding: .5em .5em;
		text-decoration: none;
	}

h1 { 
	margin-top: 0; 
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
}

.your-voice {
	text-align: center;
	margin-top: 0;
}

.tip {
	background: #eee;
	border: 1px solid silver;
	padding: .5em;
}

.songs-list,
.songs-list ul {
	padding: 0;
	list-style: none;
	margin-top: 0;
}
	.songs-list h2 {
		margin: 0;
		padding: .5em 0 0;
		font-size: 1em;
		font-weight: bold;
	}
	.songs-list > li {
		widows: 5;
		orphans: 5;
	}
	.songs-list li {
		padding: 0;
	}
		.songs-list li li {
			font-size: .9em;
		}
		.songs-list .chord-pair {
			/*display: inline-block;*/ /* DomPDF lo interpreta como block! */
		}

.chord {
	color: #e00;
	/*font-family: serif;*/
}
.chord-sans {
	color: #e00;
	/*font-family: sans-serif;*/
}

.report-actions {
	display: none;
}

.note {
	font-size: .9em;
}

nav {
	text-align: center;
}
	nav a {
		color: #D32F2F;
		border: 1px solid #D32F2F;
		text-decoration: none;
		padding: .3em .5em;
	}

	</style>
</head>
<body>

<nav><a href="{{ app.request.getBaseURL() }}">Neo-Transposer</a></nav>

{% include "all_songs_list.twig" %}

</body>
</html>