{% extends "book.twig" %}

{% block preContent %}

{% if app.neouser.isLoggedIn %}

	{% if app.neouser.feedbacksReported == 0 %}
	<div class="encourage-feedback">
		<h2>{% if app.neouser.firstTime %}<span>{% trans %}Last step:{% endtrans %}</span>{% endif %} <span>{% trans %}Verify with 2 songs that we have measured your voice accurately{% endtrans %}</span></h2>
		<p>{% trans %}Choose <strong>2</strong> songs from the list and try to sing them with the chords suited to your voice. Please, <strong>report whether or not it has worked</strong>, so that the system may improve your performance.{% endtrans %}</p>
		<p class="advice">{% trans %}Your voice:{% endtrans %} {{ your_voice|raw }}</p>
	</div>

	{% elseif app.neouser.feedbacksReported == 1 %}

		<div class="encourage-feedback img-left">
		{% if user_performance < 1 %}
			<h2>{% trans %}Oops! Ok, let's try again{% endtrans %}</h2>
			<p>{% trans %}Please, try another song, and report whether the chords have worked for you.{% endtrans %}</p>
		{% else %}
			<h2>{% trans %}Verify 1 more song{% endtrans %}</h2>
			<p>{% trans %}Please, try one more, and <strong>report whether or not it has worked</strong> so that the system may improve your performance.{% endtrans %}</p>
		{% endif %}
		</div>

	{% elseif app.neouser.feedbacksReported == 2 and app.neouser.firstTime %}

		{% if user_performance == 0 %}
			<div class="encourage-feedback achieved-minimum-fb all-negative">
				<h2>{% trans %}Well, this is a bit embarrassing{% endtrans %}</h2>
				<p>{% trans %}It seems like none of the songs you have reported has worked for you. Please try some more songs and if the problem still persists, I will propose you to change your voice range.{% endtrans %}</p>
			</div>
		{% elseif user_performance > 0 and user_performance < 1 %}
			<div class="encourage-feedback achieved-minimum-fb">
				<h2>{% trans %}Nothing's perfect, but let's keep trying!{% endtrans %}</h2>
				<p>{% trans %}Well, it seems like one of the songs fits you, the other doesn't. You may try others, and I'm sure they will go better!{% endtrans %}</p>
			</div>
		{% else %}
			<div class="encourage-feedback achieved-minimum-fb">
				<h2>{% trans %}We're good to go!{% endtrans %}</h2>
				<p>{% trans %}All right! Those chords fit your voice like a charm. You may keep trying other songs and reporting feedback, whether it works or it doesn't. You're welcome!{% endtrans %}</p>
			</div>
		{% endif %}
	
	{% endif %}
{% endif %}

{% endblock %}