{% extends "base.twig" %}

{% block page_class %}error-page{% endblock %}

{% block content %}

	<h1>{{ error_title }}</h1>
	<h2>{{ error_description }}</h2>

{% endblock %}

{% block footer %}{% endblock %}