{% extends "error.twig" %}

{% block content %}

	<h1>{% trans %}Internal error{% endtrans %}</h1>
	<h2>{% trans %}Sorry! Neo-Transposer has just failed internally.{% endtrans %}</h2>
	<p class="center">{% trans %}The administrator has been notified and will try to solve this as soon as possible.{% endtrans %}</p>
	
{% endblock %}