{% extends "base.twig" %}

{% block page_class %}page-user-book{% endblock %}

{% block content %}

<h1>{% trans %}Choose language{% endtrans %}</h1>

<ul class="books">
{% for book in books %}
	<li><a href="{{ path('set_user_data', {book: book.idBook}) }}">
		{{ book.langName }}
		<small>{{ book.details}}</small>
	</a></li>
{% endfor %}
</ul>

{% endblock %}
