name: Test Neo-Transposer

on: [push]

env:
  NT_DB_HOST: host.docker.internal
  NT_DB_USER: root
  NT_DB_PASSWORD: root
  NT_DB_DATABASE: nt_only_songs
  NT_DB_TEST_DATABASE: nt_empty_tables
  NT_DEBUG: 1
  NT_PROFILER: 0
  NT_ADMIN_USERNAME: unused
  NT_ADMIN_PASSWORD: unused
  NT_ANALYTICS_ID: UA-xxxxxxxx-1
  NT_MAXMIND_LICENSE_KEY: ${{ secrets.NT_MAXMIND_LICENSE_KEY }}
  REGISTRY: ghcr.io

jobs:
  test-and-distribute:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build the DEV Docker image
        run: make build-dev

      - name: Run fixture containers
        run: |
          make serve
          make run-test-db

      - name: Unit & integration tests, functional test
        run: make test

      - name: Acceptance tests
        run: make test-acceptance

#      - uses: actions/upload-artifact@v2
#        with:
#          name: PHPUnit-coverage-report
#          path: tests/_output/coverage

      - name: Build the PROD Docker image
        run: make build-prod

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for the registry
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: transposer:for-prod

      - name: Upload to GitHub's container repository
        run: |
          docker tag transposer:for-prod ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.repository }}:${{ env.GITHUB_SHA }}-prod
          docker push ${{ env.REGISTRY }}/${{ github.actor }}/${{ github.repository }}:${{ env.GITHUB_SHA }}-prod