<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On

	# Cambio de dominio (sept/2016)

	#Todas las peticiones a /* (excepto /) sin referer serán redirigidas a .com/*?newdomain
	#Peticiones a login desde / no llevan referer, porque / se lo come.
	#	Para evitarlo, peticiones a / sin referer redirige directamente a .com/{lang}/login?newdomain
	#	La redirección de / se maneja en PHP (Controllers/Index)

	# Si no hay referer: redir con aviso
	RewriteCond %{HTTP_HOST} !^neo\-transposer\.com$ [NC]
	RewriteCond %{REQUEST_URI} !^$
	RewriteCond %{HTTP_REFERER} ^$
	RewriteCond %{REQUEST_URI} !index.php
	RewriteRule ^(.*)$ http://neo-transposer.com/$1?newdomain=1 [R=301,L]

	# Todas las demás: redir sin aviso, pero trackeando el origen
	RewriteCond %{HTTP_HOST} !^neo\-transposer\.com$ [NC]
	RewriteCond %{REQUEST_URI} !^/$
	RewriteCond %{REQUEST_URI} !index.php
	RewriteRule ^(.*)$ http://neo-transposer.com/$?referer=%{HTTP_REFERER} [R=301,L]

	# Fin de las reglas para el cambio de dominio. Sigue lo normal.

	#RewriteRule ^en/login / [L,R=temp]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]

	# Solucionar 404 a URLs obsoletas (añadido 21/sep/2015)
	Redirect 301 "/transpose/santo-1988" "/transpose/santo-1988-tiempo-ordinario"
	Redirect 301 "/transpose/yavheh-tu-eres-mi-dios" "/transpose/yahveh-tu-eres-mi-dios"
	Redirect 301 "/book/1" "/nyimbo-njia-neokatekumenato"
	Redirect 301 "/book/2" "/cantos-camino-neocatecumenal"
	Redirect 301 "/transpose/oh-jesus-amor-mio-[estrofa-por-abajo]" "/oh-jesus-amor-mio"

</IfModule>

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<ifModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 seconds"
	ExpiresByType text/html "access plus 1 seconds"
	AddType image/x-icon .ico
	ExpiresByType image/x-icon "access plus 2592000 seconds"
	ExpiresByType image/gif "access plus 2592000 seconds"
	ExpiresByType image/jpeg "access plus 2592000 seconds"
	ExpiresByType image/png "access plus 2592000 seconds"
	ExpiresByType text/css "access plus 604800 seconds"
	ExpiresByType text/javascript "access plus 86400 seconds"
	ExpiresByType application/x-javascript "access plus 86400 seconds"
</ifModule>